body {
  font-family: 'Work Sans', sans-serif;
  color: #3C474B;
  padding: 30px;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  /* padding: 20px 30px; */
}

navbar {
  border-bottom: #3C474B dashed 1px;
}

.site-title {
  padding: 0;
}

.subtitle {
  font-size: 1rem;
  font-weight: 400;
}

.divider {
  font-weight: 100;
  font-size: 2em;
  margin: 0 10px;
}

.col {
  flex: 33;
  margin-right: 3em;
}

.projects {
  align-items: normal;
  justify-content: start;
}

.projectname {
  margin: 30px 0;
  display: block;
}

.projectname:hover {
  font-weight: 600;
}

.categorydescription {
  font-size: 0.8rem;
  margin-bottom: 40px;
  color: #8c8c8c;
}

.fa-solid {
  font-size: 0.8rem;
  margin: 5px;
}

.snow {
  color: #FBF5F3;
}

.space {
  color: #3C474B;
}

h1 {
  font-weight: 700;

}

.social-links {
  padding: 0;
}

.ml-20 {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #3C474B;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
}